body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #303030;
}

::selection {
    background: #4fc1f0;
    color: #fff;
    text-shadow: none;
}

a,
button,
input {
    outline: medium none;
    color: #686868;
    text-decoration: none;
    cursor: pointer;
}

p {
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    color: #454545;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.ptb-19 {
    padding: 19px 0;
}

.header-area {
    background-color: white !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    color: #001232;
    margin-top: 0px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: .5rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10 {
    float: left;
}

.col-4,
.col-8 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


/*Start Blog Area*/

.blog-area {
    position: relative;
}

.pt-110 {
    padding-top: 110px;
}

.pt-50 {
    padding-top: 50px;
}

.pull-left {
    float: left;
}

.blog-img img {
    transition: all 1.5s ease 0s;
    width: 100%;
}

.mb-40 {
    margin-bottom: 40px;
}

.text-white h3 {
    color: white !important;
}

h3 {
    font-size: 28px;
}


/*End Blog Area*/