body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #303030;
}

::selection {
    background: #4fc1f0;
    color: #fff;
    text-shadow: none;
}

a,
button,
input {
    outline: medium none;
    color: #686868;
    text-decoration: none;
    cursor: pointer;
}

p {
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    color: #454545;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.ptb-19 {
    padding: 19px 0;
}

.header-area {
    background-color: white !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    color: #001232;
    margin-top: 0px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: .5rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10 {
    float: left;
}

.col-4,
.col-8 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


/*Start Blog Area*/

.pb-110 {
    padding-bottom: 110 !important;
}

.pt-50 {
    padding-top: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.blog-img {
    margin-bottom: 28px;
    overflow: hidden;
    position: relative;
}

.blog-img img {
    transition: all 1.5s ease 0s;
    width: 100%;
}

.blog-date {
    left: -53px;
    position: absolute;
    top: 52px;
}

.blog-date h4 {
    background-color: #001232;
    color: #e9e9e9;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 18px 15px 12px 45px;
    transform: rotate(-90deg);
}

.blog-hm-content>h3 {
    color: #353535;
    font-size: 24px;
    font-weight: bold;
    margin-top: 26px;
    margin-bottom: 18px;
}

.blog-hm-content>h3 a {
    color: #353535;
    font-size: 27px;
}

.blog-hm-content>p {
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
}

.blog-hm-content>p a {
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
}

.blog-hm-wrapper:hover .blog-img img {
    transform: scale(1.2);
}

.blog-hm-content>h3 a:hover {
    color: #ffb52f;
}

.blog-hm-content>h3 i {
    margin-right: 5px;
}


/*End Blog Area*/