<!--Start Slider Area-->

<app-slider></app-slider>

<!--End Slider Area-->

<!--Start Product Area-->

<app-product></app-product>

<!--End Product Area-->

<!--Start Overview Area-->

<app-overview></app-overview>>

<!--End Overview Area-->

<!--Start Offer Product Area-->

<app-offerproduct></app-offerproduct>

<!--End Offer Product Area-->

<!--Start Accesories Area-->

<app-accessories></app-accessories>

<!--End Accesories Area-->


<!--Start Blog Area-->

<app-mainblog></app-mainblog>

<!--End Blog Area-->

<!--Start Blog Area-->

<app-blogarea></app-blogarea>

<!--End BLog Area-->

<!--Start Newsletter Area-->

<app-newsletter></app-newsletter>

<!--End Newsletter Area-->