<!--Start Page Information Area-->

<div class="breadcrumb-area pt-130 pb-40" style="background-image: url(https://tvsnepal.com/assets/img/banner/banner-4.jpg)">
    <div class="container-fluid">
        <div class="breadcrumb-content text-center">
            <h2>Service Engineer-2W Gandaki</h2>
            <ul>
                <li>
                    <a href="#">home</a>
                </li>
                <li>
                    <a href="#">Career</a>
                </li>
                <li class="pointer">
                    Service Engineer-2W Gandaki
                </li>
            </ul>
        </div>
    </div>
</div>

<!--End Page Information Area-->

<!--Start Overview Area-->

<div class="product-details-area fluid-padding-3 ptb-130">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="product-details-content">
                    <h2 class="pointer">Service Engineer-2W Gandaki</h2>
                    <div class="product-overview">
                        <div class="row">
                            <div class="col-lg-3 pull-left">
                                <img src="https://tvsnepal.com/images/career/Service-Engineer-2W-Gandaki60f801871122bService-engineer-.jpg" alt="Service Engineer-2W Gandaki" title="Service Engineer-2W Gandaki" style="width: 100%;">
                                <button id="myBtn" type="button" class="pointer">Apply Now</button>
                            </div>
                            <div class="col-lg-9 pull-left">
                                <div class="col-md-4 col-xs-12">
                                    <div class="job-details-sidebar">
                                        <div class="card-header p-2">
                                            <h3 class="mb-1 h6" style="font-size: 0.8500rem;">
                                                <span style="box-sizing: border-box; font-weight: bolder;">Basic Job Information</span>
                                            </h3>
                                        </div>
                                        <div class="card-body p-0 table responsive">
                                            <table class="table table-hover table-no-border m-0">
                                                <tbody>
                                                    <tr>
                                                        <td width="33%">Job Category</td>
                                                        <td width="3%">:</td>
                                                        <td width="64%">Engineering/Mechanical/Automobile Sector &nbsp;</td>
                                                    </tr>
                                                    <tr style="box-sizing: border-box; background-color: rgba(0, 0, 0, 0.075);">
                                                        <td>Job Level</td>
                                                        <td>:</td>
                                                        <td>
                                                            <a style="box-sizing: border-box; color: #002a5b; background-color: transparent; text-decoration-line: none;" href="https://merojob.com/job-level/mid_level/ ">Mid Level &nbsp;</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>No. of Vacancy/s</td>
                                                        <td>:</td>
                                                        <td>[<strong>1</strong>] &nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Employment Type</td>
                                                        <td>:</td>
                                                        <td>Full Time&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Job Location</td>
                                                        <td>:</td>
                                                        <td><span class="clearfix ">Gandaki</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Offered Salary</td>
                                                        <td>:</td>
                                                        <td>Negotiable</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="card-header p-2 ">
                                                <h3 class="mb-1 h6" style="font-size: 0.8500rem;">
                                                    <span style="box-sizing: border-box; font-weight: bolder; ">Job Specification</span>
                                                </h3>
                                            </div>
                                            <div class="card-body p-20 table-responsive ">
                                                <table class="table table-hover table-no-border m-0 ">
                                                    <tbody>
                                                        <tr>
                                                            <td width="33% ">Education Level</td>
                                                            <td width="3% ">:</td>
                                                            <td width="64% "><span>Bachelor B.E.</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Experience Required</td>
                                                            <td>:</td>
                                                            <td><span>More than or equal to 2 years</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                Job Description
                                                <div class="card-body p-0 table-responsive ">- Provide service and customer support during field visits</div>
                                                <div class="card-body p-0 table-responsive ">- Diagnose errors or technical problems and determine proper solution</div>
                                                <div class="card-body p-0 table-responsive ">- Manage all repair, maintenance and test tasks</div>
                                                <div class="card-body p-0 table-responsive ">- Diagnose errors or technical problems and determine proper solutionProduce timely and detailed service reports</div>
                                                <div class="card-body p-0 table-responsive ">- Cooperate with technical team</div>
                                                <div class="card-body p-0 table-responsive ">- Comprehend customer requirements and make appropriate recommendations / briefing</div>
                                                <div class="card-body p-0 table-responsive ">- Build positive relationships with customers</div>
                                                <div class="card-body p-0 table-responsive ">- Follow all company’s filed procedures and protocols</div>
                                                <div class="card-body p-0 table-responsive ">&nbsp;</div>
                                                <div class="card-body p-0 table-responsive ">Job Specification</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 col-xs-12 ">
                                    <div class="jobsearch-description " style="box-sizing: border-box; padding: 1em; ">
                                        <p>&nbsp;</p>
                                        <ul style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; text-align: justify; ">
                                            <li>Minimum 2 years of experience as Service Engineer in similar automotive industry is highly preferred.</li>
                                            <li>Ability to work productively with minimal supervision</li>
                                            <li>Good communication and customer service skills</li>
                                            <li>Understanding of tools and technology needed to complete repairs (we provide tools)</li>
                                            <li>Locals are encouraged to apply &nbsp;</li>
                                        </ul>
                                        <p>&nbsp;</p>
                                        <h5 class="single-job-title ">Apply Instructions</h5>
                                        <h5 class="single-job-title ">&nbsp;</h5>
                                        <h5 class="single-job-title ">&nbsp;</h5>
                                        <h5 class="single-job-title "><span style="box-sizing: border-box; font-weight: bolder;">Candidates are requested to apply with an updated CV at vacancy@jagdambamotors.com
                                                    <br style="box-sizing: border-box; ">
                                                    Note: Please mention the position as "Service Engineer-Gandaki " on the subject.
                                                </span></h5>
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both; "></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--End Career Area-->