<p>mycareer works!</p>
<!--Start Page Information Area-->

<div class="breadcrumb-area pt-130 pb-40" style="background-image: url(https://tvsnepal.com/assets/img/banner/banner-4.jpg)">
    <div class="container-fluid">
        <div class="breadcrumb-content text-center">
            <h2>Regional Sales Officer-2W</h2>
            <ul>
                <li>
                    <a href="#">home</a>
                </li>
                <li>
                    <a href="#">Career</a>
                </li>
                <li class="pointer">
                    Regional Sales Officer-2W
                </li>
            </ul>
        </div>
    </div>
</div>

<!--End Page Information Area-->

<!--Start Overview Area-->

<div class="product-details-area fluid-padding-3 ptb-130">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="product-details-content">
                    <h2 class="pointer">Regional Sales Officer-2W</h2>
                    <div class="product-overview">
                        <div class="row">
                            <div class="col-lg-3 pull-left">
                                <img src="https://tvsnepal.com/images/career/Service-Engineer-2W-Gandaki60f801871122bService-engineer-.jpg" alt="Service Engineer-2W Gandaki" title="Service Engineer-2W Gandaki" style="width: 100%;">
                                <button id="myBtn" type="button" class="pointer">Apply Now</button>
                            </div>
                            <div class="col-lg-9 pull-left">
                                <div class="col-md-4 col-xs-12">
                                    <div class="job-details-sidebar">
                                        <ul class="job-detail-list">
                                            <li>
                                                <span style="font-weight: bolder;">Nos. of Opening :&nbsp;</span>
                                                <span>3</span>
                                            </li>
                                            <li>
                                                <span style="font-weight: bolder;">Location :</span>&nbsp;<span>
                                                    <span style="overflow-wrap: break-word;">
                                                        <a class="badge badge-primary" href="https://www.ramrojob.com/search?location=Rapti" target="_blank">
                                                            <span style="box-sizing: border-box;">
                                                                Rapti
                                                            </span>
                                                </a>&nbsp;
                                                </span>
                                                <span style="overflow-wrap: break-word;">
                                                    <a class="badge badge-primary" 
                                                        href="https://www.ramrojob.com/search?location=Bheri" target="_blank">
                                                        <span style="box-sizing: border-box;">
                                                            Bheri
                                                        </span>
                                                </a>&nbsp;
                                                </span>
                                                <span style="overflow-wrap: break-word;">
                                                    <a class="badge badge-primary" href="https://www.ramrojob.com/search?location=Gandaki" target="_blank">
                                                        <span style="box-sizing: border-box;">
                                                            Gandaki
                                                        </span>
                                                </a>
                                                </span>
                                                </span>
                                            </li>
                                            <li>
                                                <span style="font-weight: bolder;">
                                                    Working Position :
                                                </span> &nbsp;Mid Level
                                            </li>
                                            <li>
                                                <span style="font-weight: bolder;">
                                                    Qualification Degree :
                                                </span> &nbsp;Bachelor/Master
                                            </li>
                                            <li>
                                                <span style="font-weight: bolder;">
                                                    Salary :                                       
                                                </span> &nbsp;Negotiable
                                            </li>
                                            <li>
                                                <span style="font-weight: bolder;">
                                                    Category :                                            
                                                </span>&nbsp;Sales / Marketing</li>
                                            <li>
                                                <span style="font-weight: bolder;">
                                                    Nature :
                                                </span>&nbsp;Full Time
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-8 col-xs-12">
                                    <div class="jobsearch-description" style="box-sizing: border-box; padding: 1em;">
                                        <h5 class="single-job-title">Job Description</h5>
                                        <p>&nbsp;</p>
                                        <ul style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem;">
                                            <li>Conduct market research to identify selling possibilities and evaluate customer needs.</li>
                                            <li>Actively seek out new sales opportunities through cold calling, networking, and social media.</li>
                                            <li>Create frequent reviews and reports with sales and financial data.</li>
                                            <li>Ensure the availability of stock for sales and demonstrations.</li>
                                            <li>Negotiate/close deals and handle complaints or objections.</li>
                                            <li>Collaborate with team members to achieve better results.</li>
                                            <li>Must handle assigned dealers.</li>
                                            <p>&nbsp;</p>
                                        </ul>
                                        <p>&nbsp;</p>
                                        <h5 class="single-job-title">Job Specification</h5>
                                        <p>&nbsp;</p>
                                        <ul>
                                            <li>Proven experience as a Regional Sales Officer or relevant role in Automobile Field (2 Wheeler).</li>
                                            <li>Excellent knowledge of MS Office.</li>
                                            <li>Fast learner and passion for sales.</li>
                                            <li>Self-motivated with a results-driven approach.</li>
                                            <li>Must possess 2 wheeler and license.</li>
                                            <li>Local candidates are highly preferred.&nbsp;</li>
                                        </ul>
                                        <p>&nbsp;</p>
                                        <h5 class="single-job-title">Apply Instructions</h5>
                                        <p>&nbsp;</p>
                                        <p>Candidates are requested to apply with an updated CV at&nbsp;<span style="box-sizing: border-box; font-weight: bolder;">vacancy@jagdambamotors.com</span></p>
                                        <p><span style="box-sizing: border-box; font-weight: bolder;">Note: Please mention the position as "Regional Sales Officer-Rapti/Bheri/Gandaki"&nbsp;on the&nbsp;subject.</span></p>
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both; "></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--End Career Area-->