body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #303030;
}

::selection {
    background: #4fc1f0;
    color: #fff;
    text-shadow: none;
}

a,
button,
input {
    outline: medium none;
    color: #686868;
    text-decoration: none !important;
}

.ptb-19 {
    padding: 19px 0;
}

.header-area {
    background-color: white !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    color: #001232;
    font-size: 14px;
    margin-top: 0px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: .5rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10 {
    float: left;
}

.col-4,
.col-8 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


/*Start Product*/

.pb-40 {
    padding-bottom: 40px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-130 {
    padding-top: 130px;
}

.ptb-130 {
    padding: 130px 0;
}

.pull-left {
    float: left;
}

.container-fluid .breadcrumb-content.text-center h2 {
    cursor: pointer !important;
}

.breadcrumb-content>h2 {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.breadcrumb-content li {
    color: #fff;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
}

.breadcrumb-content li a {
    color: #fff;
    padding-right: 20px;
    position: relative;
}

.breadcrumb-content li a::after {
    background-color: #fff;
    content: "";
    height: 2px;
    position: absolute;
    right: 1px;
    top: 11px;
    transform: rotate( -71deg);
    width: 12px;
}

.fluid-padding-3 .container-fluid {
    padding-left: 100px;
    padding-right: 100px;
}

.product-details-content h2 {
    color: #353535;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.product-overview {
    margin: 30px 0;
}

.pd-sub-title {
    color: #333;
    display: block;
    font-size: 16px;
    letter-spacing: 0.3px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    position: relative;
}

.pd-sub-title::before {
    background-color: #9d9d9d;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 30px;
}

.mr-40 {
    margin-right: 40px;
}

.mt-12 {
    margin-top: 12px;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem!important;
}

.product-details-tab.mr-40 .product-details-small-feature.nav.mt-12.mb-4 .col-lg-3.active a {
    color: #193783;
    border-bottom: solid 3px;
    text-transform: uppercase;
    cursor: pointer;
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.product-details-small-feature .col-lg-3 a {
    outline: medium none;
    color: #686868;
    text-decoration: none;
    cursor: pointer;
}

.pointer {
    cursor: pointer !important;
}

.tech-specs {
    border: solid 2px #888383;
    border-radius: 5px;
    padding-top: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.tech-specs p {
    margin: 0;
    padding: 10px 10px 10px;
    border-bottom: 1px solid #CCC;
    border-radius: 5px;
    background-color: white;
}

.product-details-small-color .col-lg-2 a div {
    cursor: pointer;
}

.product-details-large-color .tab-pane div {
    margin-left: 350px;
}


/*End Product*/