<!--Start Offer Product Area-->

<div class="latest-product-area pt-205 pb-145 bg-img" style="background-image: url(https://tvsnepal.com/assets/img/banner/banner-4.jpg);">
    <div class="container-fluid">
        <div class="latest-product-slider owl-carousel owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    <owl-carousel-o [options]="OfferProductOptions">
                        <ng-template carouselSlide>
                            <div class="owl-item active" style="width: 1450px; margin-right: 30px;">
                                <div class="row">
                                    <div class="col-md-5 col-12">
                                        <div class="latest-product-img">
                                            <img class="animated" src="https://tvsnepal.com/images/offer/Better-Than-FI-Coming-Soon!60fe41c272773WhatsApp-Image-2021-07-26-at-10.41.50-AM.jpeg" alt="Ntorq Race Edition now with BS VI and RT FI" title="Ntorq
                Race Edition now with BS VI and RT FI" style="width: 100%;">
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-6 col-12">
                                        <div class="latest-product-content">
                                            <h2 class="animated"> Ntorq Race Edition now with BS VI and RT FI - OFFER</h2>
                                            <p>Best in Class Pickup</p>
                                            <p>Best in Class Power</p>
                                            <p>Best in Class Performance</p>
                                            <p>Now Available at Showroom near you with BS VI and RTFI</p>
                                            <div class="latext-btn" style="margin-top: 20px;">
                                                <a class="animated" href="#">MORE INFORMATION</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</div>

<!--End Offer Product Area-->